form {
    background-color: rgb(195, 184, 211);
    padding: 20px;
    padding: 20px;
    margin: 30px;

}

input {
    border-radius: 5%;
    border: 1px lightgray solid;
    width: 200px;
    height: 25px;
}

.submit {
    border-radius: 5%;
    border: 1px lightgray solid;
    margin-top: 10px;
    text-align: center;
}

.inline {
    justify-content: space-between;
    flex-direction: row;
    display: flex;

}

.background {
    background-image: url(hairbackground.https://png.pngtree.com/background/20220725/original/pngtree-smiling-girl-faces-with-different-hairstyles-seamless-pattern-picture-image_1779522.jpg);

}

.hometext{
    font-size: 65px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(98, 153, 153);
    padding-top: 50px;
    padding-left: 30px;
    font-weight: bolder;
    text-shadow: 2px 2px 5px rgba(199, 225, 254, 0.52);

}

.homecontainer {
    max-width: 55%;
    max-height: auto;
}

.homedescription {
    padding-left: 30px;
    font-size: 20px;
    line-height: 30px;
    color: rgb(94, 96, 95);

}


.discovercontainer {
    background-color: rgb(195, 184, 211);
    padding: 15px;
    border-radius: 10%;
    justify-content: space-between;
    margin: 20px;

}

.discoverbutton {
    background-color: rgba(185, 180, 162, 0.674);
    border-radius: 5%;
    border: 2px lightgray solid;
    padding: 15px;
}

.discovercontainer>.textcontainerdiscover {
    align-self: center;
    width: 80%;
    max-height: auto;
    align-items: center;

}

.windowheader {
    padding-top: 15px; 
    padding-inline: 20px; 
    padding-bottom: 15px; 
    background-color: lightblue;
    position: sticky;
    height: 130px;
}

.mynavbar {
    position: relative;
    width: fit-content;
    background-color: rgb(183, 214, 214);
    padding: 20px;

}

.contacttext{
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(98, 153, 153);
    padding-top: 50px;
    padding-left: 30px;
    font-weight: bolder;
    text-shadow: 2px 2px 5px rgba(199, 225, 254, 0.52);

}