<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Document</title>
</head>
<body style="background-image: url(../static/images/homebg.png); background-size: cover;">
<!-- HEAD BAR -->
    <div class="inline" style="padding-top: 15px; padding-inline: 20px; padding-bottom: 15px; background-color: lightblue;">
        <img src="../static/images/hairlogo.png" height="95px" alt="hair logo image">
        <nav class="navbar navbar-expand-md navbar-light" style="background-color: lightskyblue;">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('home')}}">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('discover')}}">Discover</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="{{url_for('products')}}">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('style')}}">Style</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('contact')}}">Contact Us</a>
                </li>
              </ul>
            </div>
          </nav>
    </div>
<!-- HEAD BAR END -->

<p>products</p>
</body>